实施方案-审计内容、方法及拟反映的问题.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 实施方案-审计内容、方法及拟反映的问题
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.1@5cd6896c375b6765252176760ddcae95bdd2466991ff2a8bae4e1cfd1da98e13
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1764588102948-source-llm-target
      source: '1764588102948'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: audit_year
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: audit_year
        - label: 审计重点参考
          max_length: 10000
          options: []
          required: true
          type: paragraph
          variable: refer
      height: 116
      id: '1764588102948'
      position:
        x: 72
        y: 290
      positionAbsolute:
        x: 72
        y: 290
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1764588102948'
          - refer
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}

            输出样例

            四、审计内容、方法及拟反映的问题

            本次自然资源资产任中审计主要围绕生态文明建设决策部署落实，以领导干部任职期间履行自然资源资产管理和生态环境保护责任为主线，重点关注以下六大方面内容:

            （一）贯彻执行生态文明建设方针政策和决策部署情况

            1.生态文明建设重大决策部署落实方面。

            关注被审计地区贯彻落实党中央、国务院和省委、省政府关于生态文明建设重要会议、重要文件、重大战略举措等情况。

            重点核查《湖北省长江经济带绿色发展“十四五”规划》《湖北长江高水平保护十大攻坚提升行动方案》《湖北省流域综合治理和统筹发展规划纲要》《湖北省空气质量持续改善行动方案》《湖北省秋冬季大气污染防治专项行动方案》等措施方案，以及我省实施的“双十工程”（省长江大保护十大标志性战役和长江经济带绿色发展十大战略性举措）、“新双十行动”（湖北长江高水平保护十大攻坚行动和长江经济带降碳减污扩绿增长十大行动）《湖北省大气污染防治“三大”治理攻坚战役和“六大”专项提升行动计划》等工作任务、行动计划推进情况，重点揭示未制定实施意见、落实举措或相关规划，未明确任务目标、责任清单和督导考核，在贯彻落实上走形式、作选择、搞变通，导致决策部署未落实、举措未见效、任务未完成等问题。

            2.贯彻落实生态文明建设相关重要指示批示方面。

            关注中央领导同志关于生态文明建设、自然资源资产管理、生态环境保护、推动绿色低碳发展、污染防治攻坚等方面的重要指示批示精神以及省领导同志批示落实情况。

            3.生态文明体制改革重点任务推进方面。

            关注被审计地区落实生态文明体制改革相关制度及重点改革任务所采取的具体措施和实际进展情况。重点核查推进落实河湖长制、林长制、自然资源资产产权制度情况，以及划定落实生态保护红线、永久基本农田、城镇开发边界等改革重点任务“有没有行动方案”“有没有具体措施”“有没有实际成效”，是否符合国家标准等。针对改革任务推进缓慢、实施效果不佳等问题，要关注领导干部是否亲力亲为抓改革，是否存在不作为、慢作为现象，在工作部署、方案把关、协调督察等方面是否存在不担当、不碰硬、不到位等问题。

            （二）遵守自然资源资产管理和生态环境保护法律法规以及参与有关决策情况

            1.自然资源资产管理和生态环境保护相关法律法规、政策措施和重大规划的制定、实施、调整方面。

            关注被审计地区党委政府及有关部门在出台或修订自然资源资产管理和生态环境保护相关法律法规、政策措施，制定或调整国土空间规划、各类专项规划中，是否存在程序不合法不合规，文件或规划内容是否与资源环境相关法律法规、主体功能定位或上级政策规划等确定的禁止性、限制性要求相违背的，是否存在未按要求制定相关法律法规、政策措施、规划计划或相关法律法规、政策措施、规划计划制定出台后未落实执行的。

            2.重大事项决策、审批方面。

            关注项目审批程序和内容是否合法合规。重点核查重大经济活动或者建设项目的审批、组织实施等，与自然资源资产管理和生态环境保护方针政策、法律法规、主体功能定位、生态保护红线或规划中确定的禁止性、限制性要求是否相违背的问题。如自行降低国家规划要求，违反规划环评或产业用地政策盲目引进高耗能、高排放、低水平项目等；重点核查违法违规审批、调整、实施规划，违规配置自然资源资产等问题。如擅自突破控制指标扩大建设用地规模，突破永久基本农田、城镇开发边界、生态保护红线审批建设项目，违规审批矿业权，违规审批水土保持方案，超限额审批林木采伐许可证，超核定量审批采砂、取水等问题。同时，关注上述问题是否存在经领导干部本人审批、同意或知情未制止的情形。

            3.重大经济活动或建设项目遵守法律法规方面。

            一是关注自然资源资产管理和生态环境保护相关法律法规执行情况。重点核查是否存在违反自然资源管理和生态环境保护法律法规且造成严重后果或不良影响，由上级党委和政府（含授权有关部门）约谈通报或由中央及省领导同志指示批示严肃查处或批评问责的情形；是否存在长江流域生态环境保护和修复、土地利用管理和耕地保护、矿产资源开发利用等某一领域违法违规问题数量较多、涉及面较广，或由上级部门立案查处、挂牌督办、警示约谈且尚未消除违法状态的问题。

            二是关注污染防治攻坚情况。重点核查是否存在重大项目未经环评、水土保持等审批擅自开工建设，未经环境保护验收投产运营，未按环评要求建设安装环保设施，造成环境污染，相关主管部门查处或督促整改不力等问题。

            （三）自然资源资产实物量变化和特定负面事项

            1.自然资源资产实物量变化方面。

            （1）摸清水资源实物量底数及大幅减少情况。调阅水利部门水资源公报、水利普查名录、河湖管理名录、河湖长制管理信息系统和水资源直报系统等，了解该地区水资源总量，包括地表水资源量和地下水资源量的总体情况和变化情况，反映资源实物量因人为原因大幅减少的问题，分析实物量减少的主要原因。同步关注用水总量、万元GDP用水量下降、万元工业增加值用水量下降等专项规划的约束性指标完成情况。

            （2）摸清土地资源实物量底数及大幅减少情况。调阅自然资源（林业）、农业农村等部门关于土地、林地、湿地规划实施情况，第三次土地变更调查和年度变更调查数据，土地流转和建设使用情况，通过比对各类土地流入流出情况来核实数据真实性，了解土地特别是耕地资源的总体情况和变化情况，反映资源实物量因人为原因大幅减少的问题，分析实物量减少的主要原因。同步关注耕地保有量、基本农田保护面积、生态保护红线等专项规划的约束性指标完成情况。

            （3）摸清森林资源实物量底数及大幅减少情况。调查了解农业农村等部门规划实施情况、林业统计年报、林业一张图数据等资料，比对退耕还林、植树造林、林地占用等情况，了解森林、湿地等资源的总体情况和变化情况，反映资源实物量因人为原因大幅减少的问题，分析实物量减少的主要原因。同步关注森林覆盖率等专项规划的约束性指标完成情况。

            2.特定负面事项方面。

            一是关注人为因素导致的重大资源损毁、环境污染或生态破坏事件发生情况。重点核查领导干部任职期间内，所辖区域因人为因素发生重特大自然资源损毁或生态环境污染破坏事件，以及违规处置自然资源资产导致国有资产严重流失，被上级主管部门通报累计3次及以上的情形。

            二是关注资源环境约束性指标相关统计数据或环境监测数据严重造假情况。重点核查领导干部任职期间，党委和政府及有关部门在约束性指标相关统计数据、环境监测数据方面存在造假行为，被上级主管部门或审计组发现查处3次及以上的情形。

            在审计过程中一旦发现特定负面事项，根据评价指标体系要求，评价等级原则上只能评为“一般”以下。

            （四）自然资源开发利用与生态保护修复情况

            1.土地资源开发利用及耕地保护方面。

            一是关注土地征收供应情况。土地征收方面，重点核查被审计地区是否存在未按审批计划征收土地，未经评估程序、或以规划调整等名义高价向个人或民营企业征收存量土地房屋资产；土地供应方面，重点核查低价协议出让经营性用地，未经法定程序擅自改变土地用途，违规调整容积率未补缴土地出让金等问题。

            二是关注耕地（永久基本农田）保护和耕地质量等级变化情况。重点核查被审计地区是否存在未批先占、少批多占、非法批准征收等违法占用耕地特别是永久基本农田的问题，以及耕地“非农化”、“非粮化”和耕地质量等级总体下降，耕地占补平衡存在只占不补、虚假补充、占多补少、占优补劣或者长期稳定利用耕地减少等问题。

            三是关注土地用途管制和节约集约利用情况。重点核查建设用地突破土地利用计划，非法审批或者采取欺骗手段骗取用地批准，未经审批擅自将农用地改为建设用地；新增建设用地指标“增存挂钩”机制执行不到位，项目容积率低于国家规定，土地闲置浪费，处置闲置土地、批而未供（用）土地未完成省定目标任务等，或为应付上级核查搞虚假清理盘活、虚假增减挂钩、虚假增存挂钩等问题，是否被上级党委政府及主管部门约谈问责。开发区范围内的土地用途管制和节约集约利用相关问题需要单独确认，在审计意见中予以明确。

            四是关注土壤污染防治及修复情况。重点核查农用地分类管理、建设用地土壤污染风险防控等土壤污染防治措施不到位，是否因处理不及时造成严重后果或不良影响。

            2.水资源开发利用及生态保护修复方面。

            一是关注水资源节约集约利用情况。重点核查是否因主管部门查处或督促整改不力，存在无证取水、超许可取水、水土流失防治目标任务未完成等问题。

            二是关注水生态保护修复情况。重点核查因主管部门查处或督促整改不力，存在饮用水水源保护区应划未划、划定不清、边界不明、管理不严，重要水功能区、重要江河湖泊水质恶化或未达水质目标，水生态修复推进滞后，地下水水位持续下降且降幅较大、地下水质量极差比例上升等水资源生态保护不到位的问题。

            三是关注水环境保护治理情况。重点核查因主管部门查处或督促整改不力，存在违规占用河道、非法填湖占湖，以及违规审批设置或扩大入河排污口，超标、无证排放污水，控源截污措施不到位导致水体严重污染等问题。

            3.森林、湿地开发利用及生态保护修复方面。

            关注森林、湿地、自然保护地的征收占用和经营管理，以及退耕还林、天然林保护、湿地保护等生态保护修复情况。重点核查违规审批林地使用权、对违规侵占林草湿地资源，毁林毁草、围湖围湿、非法占用或者擅自缩减自然保护地搞开发建设等违规损坏森林资源行为监管不力，以及自然岸线保护修复不力，原生生态地表与人工生态地表期末比期初减少等问题。

            （五）资源环境约束性指标完成及有关监督考评情况

            1.资源环境约束性指标完成方面。

            一是关注我省国民经济和社会发展五年规划和国土空间规划确定的资源环境约束性指标及年度考核目标的完成情况。结合被审计地区实际情况，重点核查单位GDP能源消耗降低、单位GDP二氧化碳排放降低、空气质量优良天数比率、地表水达到或好于Ⅲ类水体比例、森林覆盖率等约束性指标完成情况。

            二是关注专项规划设定的资源环境约束性指标完成情况。重点核查水安全保障、生态环境保护等专项规划中的用水总量、万元GDP用水量下降、万元工业增加值用水量下降、地表水质量劣Ⅴ类水体比例、细颗粒物(PM2.5)年平均浓度、重污染天数、主要污染物重点工程减排量、受污染耕地安全利用率、重点建设用地安全利用率等约束性指标完成情况。

            三是关注上级党委和政府、主管部门关于自然资源利用、环境治理、环境质量、生态保护等方面行动计划目标任务完成情况。

            对于未完成目标要求的，要从结果倒查原因，核查工作部署、协调推进、考核督办等履职过程中是否存在不作为、慢作为、乱作为等问题；对于已完成的约束性指标，要核查底层数据的真实性、完整性和准确性，核查是否存在虚报瞒报、操纵篡改数据、弄虚作假等问题。

            2.资源环境监督考评方面。

            关注上级党委政府及有关主管部门对本地区自然资源资产管理和生态环境保护情况的考核评价结果，根据被审计地区实际情况，重点核查生态省建设、污染防治攻坚战、长江大保护十大行动、河湖长制、林长制、耕地保护和“亩产论英雄”、水土保持目标、高标准农田建设等考核结果，审计组对考核评分情况直接核实取证，按照审计动态明确的评分标准打分并填写附件2。

            3.以前年度查出问题整改落实方面。

            关注以前年度上级巡视、督察、长江经济带生态环境警示片、审计等指出的资源环境类问题，重点核查是否存在未按要求完成整改的，甚至欺上瞒下、虚假整改的情况。

            4.资源环境统计数据或监测数据真实性监管方面。关注自然资源调查监测、生态环境监测数据或有关约束性指标统计数据弄虚作假的行为，重点核查是否存在人为干扰监测仪器，或监测数据失真等情况（此类问题出现3次及以上进入特定负面事项）。

            5.公众对本地区自然资源资产管理和生态环境保护情况的满意度。根据统计机关对被审计地区城乡居民开展抽样调查结果进行评分，并填写附件2。

            （六）资源环境相关资金项目管理绩效

            1.资源环境领域财政资金使用绩效方面。

            关注被审计地区水、大气、土壤污染防治，耕地保护，国土综合整治，重点生态保护修复治理，自然灾害防治，生态环境保护以奖代补，生态环境建设和保护，林业生态保护恢复，林业生态文明建设，森林植被恢复等资源环境相关财政资金的征收、管理和使用情况。

            征收方面，重点核查土地出让金（开发区范围单独确认）、耕地开垦费、水土保持补偿费、水资源费、污水处理费、森林植被恢复费等相关资金未足额征收、未纳入预算管理或未及时缴库；审查财政非税收入专户、主管部门资金过渡户、代收代缴单位资金账户，核查是否存在未计入财政收入、未执行收支两条线、应收未收、应缴未缴等问题。

            管理方面，重点核查上述财政资金存放不合规、安排不合理、分配不公正，拨付不合规、不及时，预算执行率偏低、资金长期沉淀闲置，审查财政预算指标文件、资金拨付文件，主管部门项目建设及财务资料，分析资金未及时拨付或长期闲置原因。

            使用方面，重点核查相关财政资金被虚报冒领、挤占挪用，借生态环保之名兴建面子工程、形象工程、景观工程，在生态建设中搞形式主义，做表面文章造成资金损失浪费等问题。

            2.资源环境领域项目建设目标完成方面。

            关注生态保护修复、环境综合治理、污水处理、垃圾处理、危险废物处置设施等资源环境相关重大项目建设合规性及绩效目标达成情况。重点核查重大建设项目未按计划开工、进度严重滞后、无法实现预期目标，未完成上级下达的目标任务；项目建设中存在重复申报、违规招投标、违法发包转包、违法分包及挂靠、以次充好、偷工减料等问题；项目建成后存在无法正常运行、长期超负荷或低效运行、效果不佳甚至导致二次污染，揭示山水林田湖草生态修复治理项目中，治山、治水、护田、护林各自为战，未实现整体保护、系统修复，投入巨大却“久治不愈”等问题。

            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            enable_thinking: true
            temperature: 0.7
          mode: chat
          name: qwen3-32b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 2e927005-d9dc-4847-b128-e2ddb54c3172
          role: system
          text: "# Role\n你是一位拥有丰富经验的中国政府自然资源资产审计专家。你擅长将宏观的审计工作方案转化为具体的现场审计实施方案。你的写作风格严谨、专业、逻辑性强。\n\
            \n# Task\n请根据我提供的【输入素材：三、审计内容和重点】，编写一份完整的“四、审计内容、方法及拟反映的问题”。\n\n# Input\
            \ Data (输入素材)\nrefer:{{#context#}}}\n{{#1764588102948.audit_year#}}\n\n\
            # Output Requirement (输出要求)\n请严格保留输入素材的一级标题结构（如“（一）自然资源资产实物量变化...”），在每个一级标题下，针对具体的二级考查点，按照以下**三段式结构**进行扩展和撰写，注意要直接生成标题或者内容，直接生成文本，禁止生成markdown语法；不要生成注释，直接输出结果：\n\
            \n1.  **审计内容**：\n    * **指令**：概括【输入素材】中提到的关注点。\n    * **风格**：准确。\n\n2.\
            \  **审计方法**（**关键部分，需要你基于审计专业知识自动补充**）：\n    * **指令**：针对该条审计内容，列出具体的查证手段。\n\
            \    * **必须包含的技术手段**：\n        * **数据分析**：如比对“三调”数据与年度变更调查数据、核对财政非税收入专户与业务台账、关联分析环境监测数据与企业排污数据。\n\
            \        * **地理信息技术**：如利用ArcGIS套合遥感影像、生态红线图斑、基本农田图斑进行比对。\n        * **现场核查**：如实地踏勘、无人机航拍、取样检测。\n\
            \        * **查阅资料**：如审查会议纪要、审批卷宗、资金拨付凭证。\n    * **格式**：请列举2-3种具体可行的方法。\n\
            \n3.  **拟反映的问题**（**关键部分，需要将“关注点”转化为“问题点”**）：\n    * **指令**：将【输入素材】中的“重点核查是否存在...”转化为具体的违规表现描述。\n\
            \    * **句式模板**：请使用“重点揭示...”、“反映...”、“核查是否存在...”等句式。\n    * **内容深度**：具体到行为，如“虚假整改”、“未批先建”、“资金长期沉淀闲置”、“数据造假”、“以次充好”等。\n\
            \n# Execution\n请现在开始根据【输入素材】撰写内容。请注意，不需要生成“三、审计内容和重点”这几个字，直接从“四、审计内容、方法及拟反映的问题”开始。"
        selected: false
        title: 生成审计内容、方法以及
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: llm
      position:
        x: 570.4808434058498
        y: 290
      positionAbsolute:
        x: 570.4808434058498
        y: 290
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 54.34017185277071
      y: 25.37533339276348
      zoom: 0.7578582832551991
